body,p,h1,h2,h3,h4,h5,h6,ul,ol,dl,dd,pre{
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    font-family: "宋体";
    background: #f2f2f0;
}
a{
    text-decoration: none;/*清除超链接的下划线*/
}
